* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
}

.logo {
  position: absolute;
  top: 0;
  width: 60px;
  padding: 15px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-style: italic;
}

.days {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.yesterday {
  font-size: 3em;
  color: rgb(68, 68, 68);
}

.today {
  font-weight: 800;
  font-size: 9em;
  padding: 0 10px;
  color: #fff;
}

.outof {}

.divided {
  font-weight: 800;
  font-size: 3em;
  color: rgb(177, 177, 177);
  transform: translateY(-30px);
}

.bottom {
  position: absolute;
  bottom: 0;
  padding: 15px;
  text-align: center;
}

#time {
  color: #fff;
  font-size: 2.5em;
}

.copyright {
  color: #383838;
}

.tomorrow {
  font-size: 3em;
  color: rgb(116, 116, 116);
}

@keyframes float {

  from,
  to {
    transform: translateY(-0%);
  }

  50% {
    transform: translateY(-3%);
  }
}

@keyframes background-pan {
  from {
    background-position: 1000% center;
  }

  to {
    background-position: 0% center;
  }
}